@{
  Layout = "_Layout";
}

<h1>Pierre's Bakery!</h1>
<div id="index-wrapper">
  <div id="treats-parent">
    <div class="all-treats">
      <h3>Treats:</h3>
        <ul>
        </ul>
    </div>
  </div>
  <div id="flavors-parent">
    <div class="all-flavors">
      <h3>Flavors:</h3>
        <ul>
        </ul>
    </div>
  </div>
</div>